/*File  name: main.css, Author's  name: Zhe Yan (300706310), 
   Last modified by: Zhe Yan, Date  last  Modified: 2015 - 2 - 27
   Program  description: this is a slotmachine game based on createjs.
   user can play slotmachine game with this program.
    Revision  History: version 2.0*/
ul#playerStats {
    list-style-type: none;
    padding: 0;
    margin: 5px;
}
